
body{
	margin: 0 auto;
	padding: 0;
	letter-spacing: 1px;
}
 h2{
 	letter-spacing: 2px;
 }
 p{
 	text-align: justify;
 }

.navbar-default{
	background: #ff9933;
}
#header{
	background: #ff9933;
	width: 100%;
	height: 70px;
}
.navbar{
	border: none;
}
a.navbar-brand img{
	padding-top: 5px;
	margin-left: 8%;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-nav > li{
	padding: 10px;
}
.navbar-default .navbar-nav > li:hover{
	background: #fff;
	padding: 10px;
	/*border-bottom: 4px solid #e2003d;*/
}
.navbar-default .navbar-nav > li > a:hover{
	color: #ff9933;
	font-weight: 700;
}

a.navbar-brand{
	padding: 0;
	margin-top: -5px;
	width: 60%;
}

.ved-text{
	padding-top: 6%;
	padding-bottom: 5%;
    text-align: justify;
    align-items: center;
    font-size: 19px;
}
.ved-text p{
	color: #555;
}
.row h2, p{
	color: #fff;
}
.ved-categ{
    align-items: center;
    text-align: center;
    padding-top: 1%;
}


.ved-categ h2{
	text-shadow: 1px 0px #ccc;
    font-weight: 700;
}
.ved-categ p{
	text-align: center;
}

.ved-categ a{
	margin-top: 25px;
	background: #ff9933;
	border: none;
}

.ved-categ a:hover{
	background: #ec7600;
	font-weight: 700;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
	background: #ec7600;
	border: none;
}

.btn-primary:focus, .btn-primary.focus{
	background: #ec7600;
	border: none;
	border-color: #ec7600;
}

.navbar-default .navbar-toggle{
	border-color: #fff;
    color: #fff;
    background-color: #fff;
}

nav.navbar.navbar-default{
	z-index: 9999;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: transparent;
}

.ved-category{
	padding-bottom: 20px;
}

.veda-footer{
	width: 100%;
	background: #ff9933;
	height: 70px;
}
.footer{
	padding-top: 25px;
}
.footer p{
	text-align: center;
}
.about-section{
	padding-top: 40px;
}
.about-section p{
	color: #555;
	font-size: 16px;
}
.veda-abpage{
	padding-bottom: 40px;
}

@media only screen and (min-width: 320px) and (max-width:586px){

	div#bs-example-navbar-collapse-1{
	padding-top: 11px;
}
}

@media only screen and (min-width: 320px) and (max-width:557px)
{
	a.navbar-brand img{
		width: 49%;
	}
}

@media only screen and (min-width: 558px) and (max-width:767px)
{
	a.navbar-brand img{
		width: 37%;
	}
}

.veda-abpage p{
	font-size: 19px;
}
.veda-list li{
	font-size: 19px;

}

/*//////////////////
////////////////*/

.card {
    position: relative;
   /* transform:translate(-50%,-50%);*/
  /*  width:300px;*/
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
    margin: 15px;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}

.developer-area{
	padding-bottom: 40px;
}

.well.well-sm{
	margin-top: 5%;
	margin-bottom: 5%;
}

/*.courselist_link::after{
	    background-color: #13afeb;
    bottom: 50%;
    content: "";
    height: 3px;
    left: 10px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 91%;
}
*/
.courselist_activelink:after {
	bottom: -1px !important;
	opacity: 1 !important;
	
}
.courselist_activelink 	a{
	color:#23b4ec !important
	}

.courselist_link a {
	text-decoration:none 
}

.courselist_link {
	position: relative;
}

.courselist_link:first-child:after{
	left:0}
.courselist_link::after{
 background-color: #e2003d;
    bottom: 50%;
    content: "";
    height: 3px;
    left: 0px;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;}
	
.courselist_link:hover:after {
	bottom: -1px;
	opacity: 1;
}

.courselist_link:hover 	a{
	color:#ff9933 !important
	}